[project]
	description = Puppet module to manage sysctl
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gabriele Cerami (gabrielecerami)
[access "refs/for/refs/*"]
	read = group user/Gabriele Cerami (gabrielecerami)
	push = group user/Gabriele Cerami (gabrielecerami)
	label-Code-Review = -2..+2 group user/Gabriele Cerami (gabrielecerami)
	label-Verified = -1..+1 group user/Gabriele Cerami (gabrielecerami)
	rebase = group user/Gabriele Cerami (gabrielecerami)
	removeReviewer = group user/Gabriele Cerami (gabrielecerami)
	submit = group user/Gabriele Cerami (gabrielecerami)
[access "refs/heads/*"]
	read = group user/Gabriele Cerami (gabrielecerami)
	create = group user/Gabriele Cerami (gabrielecerami)
	push = +force group user/Gabriele Cerami (gabrielecerami)
	pushMerge = group user/Gabriele Cerami (gabrielecerami)
[access "refs/tags/*"]
	push = +force group user/Gabriele Cerami (gabrielecerami)
	pushTag = group user/Gabriele Cerami (gabrielecerami)
	pushSignedTag = group user/Gabriele Cerami (gabrielecerami)
